
* {
  background-color: black;
  font-family: 'Ubuntu', serif;
  color: white;
}

*, body {
  margin: 2px;
  padding: 0px;
}

.left {
  float: left;
}

#content {
  margin: 0px;
  padding: 0px;
}

canvas {
  border: 1px solid white;
}
