<!doctype html>
<html>
<head>
  <title>Flatland Primer</title>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("jquery", "1");
  </script>
  <link href="./flatland.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
  <script type="text/javascript" src="./js/processing-1.0.0.js"></script>
  <script>
    function getInstance() {
      return Processing.getInstanceById($('canvas')[0].id);
    }

    function goto_world(callback) {
      return function(e) {
        e.preventDefault();
        callback(getInstance());
      };
    }

    $(function() {
      $("#credits-link").click(goto_world(function (p) {
        p.goto_credits();
      }));
      $("#jump-to-main").click(goto_world(function (p) {
        p.setup_menu();
      }));
      $("#jump-to-level1").click(goto_world(function (p) {
        p.setup_world1();
      }));
      $("#jump-to-level2").click(goto_world(function (p) {
        p.setup_world2();
      }));
    });
  </script>
{{{scripts}}}
</head>
<body>
<div id="content">
  <div class="left">
    <canvas data-processing-sources="preload.pjs flatland.pjs"
        width="800" height="600">
      You need a browser with canvas support. Try Google Chrome or Firefox.
    </canvas>
  </div>
  <div class="left">
    <nav>
      <ul>
        <li><a href="./doc/">Documentation</a></li>
        <li><a href="" id="jump-to-main">Main Menu</a></li>
        <li><a href="" id="jump-to-level1">Level 1</a></li>
        <li><a href="" id="jump-to-level2">Level 2</a></li>
        <li><a href="" id="credits-link">Credits</a></li>
      </ul>
    </nav>
    <div>
    </div>
  </div>
</div>
</body>
</html>
